@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

:root {


  --main-bg-color: #ffffff;
  --green-color: #06945b;
  --green-1-color: #68e5a2;
  --bleu-color: #395be0;
  --yellow-color: #fae053;
  --other-color: #f1b280;
  --text-color: #011218;


}

html{
  font-size: 15px;
  overflow-x: hidden;
}

.header{
  position: fixed;
  display: flex;
  background: transparent;;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5rem;
  border-bottom: 1px solid var(--text-color);
  height: 50px;
}


.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.logo img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo ul{
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo ul a{
  color: var(--text-color);
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav ul a{
  color: var(--text-color);
}

.header-btn{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-btn button{
  background-color: var(--text-color);
  color: white;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
}

.home{
  position: relative;
  top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
}

.home h1{
  font-size: 50px;
}

.home p{
  text-align: center;
}

.home p a{
  color: gray;
  font-size: small;
}

.home img{
  position: relative;
  top: 20px;
  height: 330px;
}

.home-btn{
  background-color: var(--green-color);
  color: white;
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--text-color);
  border-radius: 15px;
}

.circle0{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--green-1-color);
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 0;
}

.circle1{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 0;
}

.circle2{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--other-color);
  position: absolute;
  bottom: 40%;
  left: 80%;
  z-index: 0;
}

.circle3{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: var(--green-1-color);
  position: absolute;
  bottom: 60%;
  left: 90%;
  z-index: 0;
}

.circle4{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(221, 221, 221);
  position: absolute;
  top: 50%;
  left: 20%;
  z-index: 0;
}

.score{
  top: 100px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 140px;
  padding: 10px;
}

.score h3{
    text-align: center;
}

.selling{
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  top: 180px;
  padding: 2rem 8rem;;
}

.selling img{
  height: 400px;
}

.selling-text{
  position: relative;
  padding-left: 6%;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.selling-text button{
  background-color: var(--other-color);
  color: var(--text-color);
  width: 250px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
}

.social-media{
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-one{
  position: relative;
  top: 100px;
  left: 5%;
  width: 90%;
  height: 250px;
  border: 2px solid var(--text-color);
  background-color: var(--other-color);
  padding: 40px;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  z-index: -1;
}

.profil{
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content:start;
  align-items: center;
  gap: 10px;
}

.profil img{
  height: 40px;
}

.profil p{
  font-size: 18px;
}

.note-star{
  position: absolute;
  margin: 10px;
  top: 80%;
  left: 80%;
}
